node_modules
.env
.gemini
uploads
logs
*.log
.wwebjs_auth
google-key.json
migration_guide.md
backups/
SaSLoop-dashboard/build
SaSLoop-dashboard/package-lock.json
package-lock.json
.DS_Store
*.zip
*.rar